/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0; /* Light gray background */
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff; /* White background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #03a9f4; /* Light blue header */
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.todo-item {
    background: #e1f5fe; /* Light blue todo item background */
    border: 1px solid #b3e5fc; /* Lighter blue border */
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.todo-item h5 {
    margin-top: 0;
    color: #03a9f4; /* Darker blue for todo item title */
}


.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
